<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>The Sloppy Goose</title>
</head>
<body>
    <nav>
        <a class="brand" href="/">The Sloppy Goose</a>
        <a href="/beers/"><h3>Beers</h3></a>
        <a href="/bars/"><h3>Bars</h3></a>
    </nav>
<main>