<!DOCTYPE html>
<html>
  <head>
    <title>The Sloppy Goose</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1>The Sloppy Goose</h1>
      <a href="/beers/"><h3>All Beers</h3></a>
      <a href="/bars/"><h3>All Bars</h3></a>
    </nav>
  </body>
</html>
