<!DOCTYPE html>
<html>
  <head>
    <title>The Sloppy Goose</title>
    <link href="https://fonts.googleapis.com/css?family=Griffy" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <a href="/beers/"><h3>Beers</h3></a>
      <a href="/bars/"><h3>Bars</h3></a>
    </nav>
    <main>
        <h1 class="brand">The Sloppy Goose</h1>

    </main>
  </body>
</html>
