<%- include('../partials/header') %>
    <h1>All Beers </h1>
    <h4>Add a new beer <a href="./new">HERE</a> </h4>

    <% beers.forEach(function(beer){ %>
        <div>
            <h5><%= beer.name %></h5>
            <p>Style: <%= beer.style%></p>
        </div>
    <% }); %>

<%- include('../partials/footer') %>