<%- include('../partials/header') %>
    <h1>Add a Bar</h1>

    <main>
        <form action="/bars" method="POST">
            <label for="name">Bar Name</label>
            <input type="text" name="name">
                <br>
            <label for="style">Location</label>
            <input type="text" name="location">
                <br>
            <input type="submit" value="Add Bar">
        </form>
    </main>


<%- include('../partials/footer') %>